<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Skeleton — Type:Bits</title>
    <meta name="description" content="HTML Specimen for Skeleton — Type:Bits, workshop">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
    
  </head>
  <body>

    <header id="header" class="block">
      <h1><span class="sample">Skeleton Regular</span></h1>
      <p class="fonttester"><input spellcheck="false" value="Skeleton" type="text"></p>
      <p>The quick brown fox jumps over the lazy dog.</p>
    </header>
    
    <div id="main" class="block">
      <section>        
        <div class="charmap">
          <span class="caps">A</span>
          <span class="caps">B</span>
          <span class="caps">C</span>
          <span class="caps">D</span>
          <span class="caps">E</span>
          <span class="caps">F</span>
          <span class="caps">G</span>
          <span class="caps">H</span>
          <span class="caps">I</span>
          <span class="caps">J</span>
          <span class="caps">K</span>
          <span class="caps">L</span>
          <span class="caps">M</span>
          <span class="caps">N</span>
          <span class="caps">O</span>
          <span class="caps">P</span>
          <span class="caps">Q</span>
          <span class="caps">R</span>
          <span class="caps">S</span>
          <span class="caps">T</span>
          <span class="caps">U</span>
          <span class="caps">V</span>
          <span class="caps">W</span>
          <span class="caps">X</span>
          <span class="caps">Y</span>
          <span class="caps">Z</span>
          
          <span>a</span>
          <span>b</span>
          <span>c</span>
          <span>d</span>
          <span>e</span>
          <span>f</span>
          <span>g</span>
          <span>h</span>
          <span>i</span>
          <span>j</span>
          <span>k</span>
          <span>l</span>
          <span>m</span>
          <span>n</span>
          <span>o</span>
          <span>p</span>
          <span>q</span>
          <span>r</span>
          <span>s</span>
          <span>t</span>
          <span>u</span>
          <span>v</span>
          <span>w</span>
          <span>x</span>
          <span>y</span>
          <span>z</span>
                
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
          <span>5</span>
          <span>6</span>
          <span>7</span>
          <span>8</span>
          <span>9</span>
          <span>0</span>
          <span>&amp;</span>
          <span>@</span>
          <span>.</span>
          <span>,</span>
          <span>?</span>
          <span>!</span>
          <span>'</span>
          <span>"</span>
          <span>"</span>
          <span>(</span>
          <span>)</span>
          <span>*</span>
          <span>#</span>
      </div>      
      
      </section>
    </div>
    
    <footer id="footer" class="block">
      <ul>
        <li>Skeleton was designed by {{cookiecutter.authors}}</li>
        <li><a href="{{cookiecutter.homepage}}">Source</a></li>
      </ul>
      <p>Skeleton is licensed under the <a href="http://scripts.sil.org/OFL">SIL Open Font License</a></p>
    </footer>

    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
